

body {
  background: #ffffff;
}
.sliding-button {
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 500px;
  cursor: default;
  background: #1D1B26;
}

.leftCor {
  left: 108;
}

.leftCor1 {
  left: 120;
}


.shrift { 
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
}

.field {
  top: 0px;
  left: 0px;
  width: 360;
  height: 600;
  background-color: #000000;
}

.hidden {
  display: none;
}

.cell {
  background-color: #464646;

}

.image-stack {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 1px;
  position: relative;
}

.lol {

   position: absolute;  
}

.nePerenosiPls{
  display:inline;

}
.cell_car {
background-color: red;
}

.cell_barrier {
  background-color: rgb(0, 0, 0);
}

.line {
  background-color: rgb(255, 255, 255);
}