.size {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 400px;
  left: 200px;
}

.field {
  width: 360;
  height: 600;
  background-color: #853c64;
}

.hidden {
  display: none;
}

.cell {
  background-color: #464646;

}

.image-stack {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 2px;
}

.cell_car {
background-color: red;
}

.cell_barrier {
  background-color: rgb(17, 192, 90);
}